APP_BASE_URL=http://localhost:3000
NODE_ENV=development

################
#    RESEND    #
################

## Production
RESEND_API_KEY=
RESEND_AUDIENCE_ID=
RESEND_FROM_EMAIL=portal@notifications.placetostandagency.com
RESEND_REPLY_TO_EMAIL=hello@placetostandagency.com


################
#    VERCEL    #
################

## Production
AI_GATEWAY_API_KEY=


################
#   SUPABASE   #
################

## Local
DATABASE_URL=postgresql://postgres:postgres@127.0.0.1:54322/postgres
NEXT_PUBLIC_SUPABASE_URL=http://127.0.0.1:54321
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

## Production
# DATABASE_URL=


###############
#   POSTHOG   #
###############

NEXT_PUBLIC_POSTHOG_KEY=phc_QlDuK3G0J0C2NaexIbTGbICZ8jF4eZGa62wI44yHVAq
NEXT_PUBLIC_POSTHOG_HOST=https://us.i.posthog.com
